@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Tailwind v4 Theme Configuration */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* ১. আপনার Custom Font এখানে ম্যাপ করে দিন */
  --font-integral: var(--font-integral);

  /* ২. যদি চান পুরো ওয়েবসাইটের ডিফল্ট ফন্ট Integral হোক, তাহলে নিচের লাইনটা দিন */
  /* --font-sans: var(--font-integral); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    /* --foreground: #ededed; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);

}